%form#serachform{:action => "/users/show", :method => "get", :style => "height: 100px; width: 800px; position: absolute;  top: 40%;  left: 24% ; "}
  %input#searchuser{:name => "username", :style => "width:550px; height:40px;  border:1px solid black;  float:left", :type => "text"}/
  %input{:style => " width:200px; height:40px; border:1px solid black; float:left", :type => "submit", :value => "Search By Username"}/

    
