.page-header
  %h1 
    CSOS Clients 
    %small Count By Site

%table.table
  %tr
    %th Site
    %th Count
  - @clients.each do |c|
    %tr
      %td
        = c['site']
      %td
        = c['count'] 
      %td
        = link_to 
