<div class="page-header">
  <h1>
    <%= @clients.map{ |c| c.owner }.uniq.join(", ") %>
    <small>
      Site:
      <%= params[:id] %>
    </small>
  </h1>
</div>


<table class="table">
  <tr>
    <th>
      Version
      <span class="glyphicon glyphicon-sort-by-order"></span>
    </th>
    <th>
      Clients
      <span class="glyphicon glyphicon-hdd"></span>
    </th>
  </tr>
  <% @clients.map { |c| c.version }.uniq.sort.each do |v| %>
    <tr>
      <td>
        <%= v %>
      </td>
      <td>
        <%= @clients.select { |c| c.version.eql? v}.count %>
      </td>
    </tr>
  <% end %>
</table>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Version Distribution
    </h3>
    <% color = ["success", "info", "warning", "danger"] %>
  </div>
  <div class="panel-body">
    <div class="progress">
      <% @clients.map { |c| c.version }.uniq.sort.reverse.each_with_index do |v,i| %>
        <% ct = @clients.select { |c| c.version.eql? v}.count %>
        <% pct = (100 *  ct) / @clients.size %>
        <div class="progress-bar-<%= color[i % color.count] %> progress-bar" style="width:<%= pct %>%">
          <%= "#{v}" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% preview = @clients.select{ |x| x.preview?} %>
<% prod = @clients.reject{ |x| x.preview?} %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Preview Distribution
    </h3>
  </div>
  <div class="panel-body">
    <%= render "percent", percent: (100 * preview.count  / ( preview.count + prod.count )) %>
  </div>
</div>





<table class="table">
  <tr>
    <th>
      Client Id
      <span class="glyphicon glyphicon-barcode"></span>
    </th>
    <th>
      Version
      <span class="glyphicon glyphicon-sound-5-1"></span>
    </th>
    <th>
      Last User
      <span class="glyphicon glyphicon-user"></span>
    </th>
    <th>
      <span class="glyphicon glyphicon-list-alt"></span>
    </th>
  </tr>
  <tr>
    <th>
      Preview Machines
      <span class="badge">
        <%= preview.count %>
      </span>
    </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% preview.sort{ |x,y| y.audit_update_date <=> x.audit_update_date}.each do |c| %>
    <% if c.version < @clients.map { |v| v.version}.max  %>
      <%= render "client_row", client: c, row_color: "warning" %>
    <% else %>
      <%= render "client_row", client: c, row_color: "info" %>
    <% end %>
  <% end %>
  <tr>
    <th>
      Release Machines
      <span class="badge">
        <%= prod.count %>
      </span>
    </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% prod.sort{ |x,y| y.audit_update_date <=> x.audit_update_date}.each do |c| %>
    <% if c.version < @clients.map { |v| v.version}.max  %>
      <%= render "client_row", client: c, row_color: "warning" %>
    <% else %>
      <%= render "client_row", client: c, row_color: "" %>
    <% end %>
  <% end %>
</table>
