.page-header
  %h1 
    CSOS Sites
    %small Clients per site 

%table.table
  %tr
    %th Site
    %th Clients 
    %th 
      %span.glyphicon.glyphicon-list-alt
  - @sites.each do |s|
    %tr
      %td
        = s.id
      %td
        = s.clients
      %td
        = link_to "details", "/sites/#{s.id}"






